.p360-category-card {
    display: flex;
    flex-direction: column;
    gap: var(--p360-space-md);
    min-height: 120px;
    cursor: pointer;
    user-select: none;
}

    .p360-category-card.selected {
        border-color: var(--p360-primary);
        background: #F3FCFA;
    }

.p360-category-icon {
    font-size: 30px;
}

.p360-category-title {
    font-size: 1.05rem;
    font-weight: 600;
    color: var(--p360-dark);
}
