@using Praxis360_v1.Models

@if (Documents.Any())
{
    <div class="row g-3">

        @foreach (var document in Documents)
        {
            <div class="col-12 col-md-6 col-xl-4">
                <div class="border rounded p-3 mb-2">
                    <strong>@document.Title</strong><br />
                    <span>@document.Category</span>
                </div>
            </div>
        }

    </div>
}
else
{
    <div class="text-center py-5">

        <h5>Aucun document trouvé</h5>

        <p class="text-muted">
            Essayez une autre recherche.
        </p>

    </div>
}

@code
{
    [Parameter]
    public IEnumerable<Document> Documents { get; set; } = [];
}