@using Praxis360_v1.Models

<P360Card>

    <div class="document-layout">

        <div class="document-left">

            <div class="document-icon">
                📄
            </div>

            <div>

                <div class="document-title">
                    @Document.Title
                </div>

                <div class="document-subtitle">
                    @Document.Category
                </div>

            </div>

        </div>

        @if (Document.Favorite)
        {
            <div class="document-right">
                ⭐
            </div>
        }

    </div>

</P360Card>

@code
{
    [Parameter]
    public Document Document { get; set; } = default!;
}