<div class="@CardClass"
     @onclick="HandleClick">

    @ChildContent

</div>

@code
{
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Class { get; set; } = string.Empty;

    [Parameter]
    public bool Clickable { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    private string CardClass =>
        Clickable
            ? $"p360-card p360-card-clickable {Class}"
            : $"p360-card {Class}";

    private async Task HandleClick()
    {
        if (Clickable && OnClick.HasDelegate)
            await OnClick.InvokeAsync();
    }
}